@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: rgb(235, 229, 224);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: #000000;
    font-weight: 750;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1em;
    font-family: 'Popins', sans-serif;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style-type: none;
    margin-left: 20px;
    color:#000000;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#000000;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
}

header ul li a:hover{
    background: #000000;
    color: #ffffff;
}

header ul li a:hover:before{
    color: #ffffff;
}

#contenido .container2{
    display: flex;
    justify-content: space-evenly;
    padding: 200px 100px;
}

#contenido .txt{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenido h1{
    margin-top: 0px;
    font-family: 'Consolas', monaco, monospace;
    font-size: 30px;
    letter-spacing: 2px;
}

#contenido p{
    margin-top: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

#contenido .img-cont{
    background-image: url("imagenes/mision.png");
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 400px; 
}

#contenido li{
    margin-top: 0px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}