@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: rgb(235, 229, 224);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: #000000;
    font-weight: 750;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1em;
    font-family: 'Popins', sans-serif;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style-type: none;
    margin-left: 20px;
    color:#000000;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#000000;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
}

header ul li a:hover{
    background: #000000;
    color: #ffffff;
}

header ul li a:hover:before{
    color: #ffffff;
}

.container_c{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: center;
    padding-top: 110px;
    
}

.c{
    width: 400px;
    margin: 30px;
    padding: 50px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.568);
    background-color: #ffe7bb;
}

.cover{
    width: 100%;
    display: inline-block;
    border-radius: 16px;
    overflow: hidden;
}

.c h1{
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
    letter-spacing: 3px;
}

.c p{
    font-size: 20px;
    font-weight: 120;
}