/*  GENERAL CONFIGURATION   */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #51cdd1;
  --primary-color-light: #e8fcff;
  --toggle-color: rgb(143, 143, 143);
  --text-color: #303030;
  --border-color: #181818;
  --span-color: #b1b1b1;
  --button-color: #00a1b0;
  --text-color2: #e4e4e4;

  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

@keyframes rotate {
  100% {
    background-position: 12% 20%;
  }
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #797979;
  --primary-color-light: #5c5c5c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --border-color: #dadada;
  --button-color: #727272;
  --text-color2: #e4e4e4;
}

.solybox span {
  margin: 0%;
  border: none;
  padding: none;
  width: fit-content;
  height: fit-content;
}

/*    HOMEPAGE    */

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 20%;
  width: 100%;
  padding: 30px 50px 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(80, 80, 80, 0.63),
      rgba(151, 151, 151, 0.63)
    ),
    url("imagenes/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header .logo {
  color: #ffffff;
  font-weight: 750;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-family: "Popins", sans-serif;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  color: #ffff;
}
.normal {
  padding: 10px 30px;
  margin: 10px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  background-color: #000000;
}

.cta {
  padding: 10px 30px;
  margin: 10px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 600;
  background-color: #00c4cc;
}

.aboutus {
  display: grid;
  grid-template-columns: 0.7fr 0.4fr 0.4fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 150px;
  grid-gap: 30px;
  margin-right: 15px;
}

.kanoa {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  position: absolute;
  transform: translate(80%, 0%);
}

.cont1 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-image: url ("Kanoa.png");
}

.cont2 {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

.cont3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.cont4 {
  grid-column: 3 / 3;
  grid-row: 2 / 3;
}

.titulo {
  text-align: center;
}

.aboutus h3 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 750;
  font-size: 1.3em;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: justify;
}

.aboutus h1 {
  font-family: "Poppins", sans-serif;
  font-size: 65px;
  font-weight: 500;
}

.cont3 ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  font-size: 18px;
}

.sec2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.somos {
  width: 70%;
  height: 180px;
}

.somos p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: justify;
}

.somos h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 200;
}

/* .espacio {
  height: 100px;
  background: linear-gradient(
      0deg,
      rgba(80, 80, 80, 0.63),
      rgba(151, 151, 151, 0.63)
    ),
    url("imagenes/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} */


/*  LOGIN   */
.homeNavBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00828e;
}

header .logo {
  color: #ffffff;
  font-weight: 750;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-family: "Popins", sans-serif;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
}

.blueButton {
  color: white;
  padding: 10px 30px;
  margin: 10px;
  border: #fff;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
  background-color: #00101c;
  border-color: #ffffff;
}

.blackButton {
  color: white;
  padding: 10px 30px;
  margin: 10px;
  border: #fff;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 600;
  background-color: #00c4cc;
}

.formulario {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  background-color: white;
  border-radius: 15px;
  margin: 0 20px;
  padding: 40px 30px 44px;
  border-radius: 1.25rem;
  background: #fff;
  text-align: center;
}

.regisss {
  top: 90%;
}

.formulario h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 20px;
  letter-spacing: 2px;
  color: #091a28;
}

.form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
}

.form input {
  width: 100%;
  height: 56px;
  border: 2px solid #b2c9da;
  font-family: inherit;
  font-size: 16px;
  padding: 0 16px;
}

.form a {
  color: #216ce7;
  font-size: 1rem;
  text-align: left;
  text-align: center;
  text-decoration: none;
  margin-bottom: 6px;
}

.formal input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 2.5px solid;
  background: #297ea6;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.formal input[type="submit"]:hover {
  background: #002a3d;
  transition: 0.5s;
  color: white;
}

.form input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 2.5px solid;
  background: #3a80a4;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.form input[type="submit"]:hover {
  background: #0a1a28;
  transition: 0.5s;
  color: white;
}

.form input[type="radio"] {
  height: 17px;
  width: 30%;
  margin: 0;
}

.form h3 {
  color: #3a80a4;
}

.form input[type="radio"],
label {
  display: inline;
  vertical-align: center;
}

.radiobutton {
  text-align: left;
  font-size: 15px;
  margin: 0 0 6px 0;
  line-height: 28px;
}

.divbut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Llaves {
  align-items: left;
}

.form input[type="button"] {
  align-items: left;
  width: 15%;
  height: 50px;
  border: 2.5px solid;
  background: #3a80a4;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  outline: none;
}

/*  SIDEBAR */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
  border-top-right-radius: 20px;
}

.sidebar.close {
  width: 80px;
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
  margin-left: 16px;
}
.sidebar.close .text {
  opacity: 0;
}

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 60px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 24px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text {
  color: var(--text-color);
}

/*  PAGES   */

h1.titulo {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 70px;
  font-weight: 300;
}

h3.titulo {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 100;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 25px;
  
}

.contenedor .contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
}

/*  PAGES FORMS */
label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 22px;
  display: flex;
  align-items: center;
  text-align: center;
}

.funform input[type="text"] {
  width: 80%;
  text-align: center;
  background: none;
  color: var(--text-color);
  font-size: 20px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 2px solid var(--text-color);
  outline: none;
}

.funform input[type="email"] {
  width: 80%;
  text-align: center;
  background: none;
  color: var(--text-color);
  font-size: 20px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 2px solid var(--text-color);
  outline: none;
}

.elem {
  border-color: var(--text-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 25px;
  height: 120px;
  width: 320px;
  padding-top: 10px;
  margin: 30px auto 30px auto;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button {
  display: flex;
  justify-content: end;
  align-items: center;
}

.people-container {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.people-container img {
  width: 60px;
  height: 60px;
}

input[type="button"].clasic {
  align-items: left;
  width: 17%;
  height: 50px;
  border: 2.5px solid;
  background: var(--body-color);
  border-radius: 25px;
  font-size: 18px;
  color: var(--border-color);
  cursor: pointer;
  outline: none;
}

input[type="submit"].create-pro {
  align-items: left;
  width: 70%;
  height: 50px;
  border: 2.5px solid;
  background: var(--primary-color);
  border-radius: 25px;
  font-size: 20px;
  border-color: var(--border-color);
  color: var(--border-color);
  cursor: pointer;
  outline: none;
}

select.licencia {
  background-color: var(--body-color);
  border: none;
  margin: 20px 0px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 35px;
}

/*    PROYECTO ELEMENT*/

.Proyecto {
  border: var(--border-color);
  border-style: solid;
  border-radius: 2rem;
  border-width: 7px;
  margin: 20px 0 20px 10%;
  padding: 40px 30px 44px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;border-radius: 23px;
  background: #ecf0f3;
  box-shadow:  23px 23px 47px #9c9ea0,
               -23px -23px 47px #ffffff;
}

.pp2,
.pp1 {
  width: 50%;
  height: 180px;
}

.pp3_ {
  display: flex;
  align-items: center;
}

.pp3,
.pp4 {
  width: 50%;
  height: 150px;
}
.pp5,
.pp6 {
  width: 50%;
  height: 100px;
}

.Colabimg {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.Colabimg img {
  width: 90px;
  height: 80px;
}

.pp3 img {
  width: 20px;
  height: 20px;
}

.donar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donar img {
  width: 70px;
  height: 70px;
}

.btn-admin {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.proyect-button {
  width: 260px;
  height: 60px;
  border: 2.5px solid;
  background: var(--primary-color);
  border-radius: 25px;
  font-size: 20px;
  color: var(--text-color);
  cursor: pointer;
  outline: none;
}

.donar-span {
  background-color: var(--span-color);
}

.proyectos_ {
  text-align: left;
  font-size: 50px;
}

*{
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

bodys {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ecf0f3;
}

.formulario{
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow:  21px 21px 32px #9c9ea0,
               -21px -21px 32px #ffffff;
}

EmailInputs {
  border-radius: 23px;
  background: #ecf0f3;
  box-shadow:  23px 23px 47px #9c9ea0,
               -23px -23px 47px #ffffff;
}