@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
background-color:white;
margin: 0%;
}

section{
    margin: 100px 0%;
}

#main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sheet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-show{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.center-show h1{
    font-size: 2em;
    text-transform: uppercase;
}

.center-show img{
    width: 30em;
}

.aboutus{
    display: grid ;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    width: 60%;
    padding-right: 30px;
}

.cont1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.cont2{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.cont3{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.cont4{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.aboutus h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 750;
    font-size: 1.3em;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    text-align: justify;
}

.aboutus h1{
    font-family: 'Poppins', sans-serif;
    font-size: 65px;
    font-weight: 500;
}

.cont3 ul li{
    display: flex;
    justify-content: center;        
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    font-size: 18px;
}

.somos{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 80%;
}

.tittle-medium{
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    text-align: center;
    margin: auto;
}

.Proyectos{
    border: #000000;
    border-style: solid;
    border-radius: 2rem; 
    border-width: 8px;
    margin: 0 20px;
    padding: 40px 30px 44px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pp2,
.pp1{
    width: 50%;
    height: 180px;
}

.pp3_{
    display: flex;
    align-items: center;
}

.pp3,
.pp4{
    width: 50%;
    height: 150px;
}
.pp5,
.pp6{
    width: 50%;
    height: 80px;
}

.Colabimg{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.Colabimg img{
    width: 90px;
    height: 80px;
}

.pp3 img{
    width: 20px;
    height: 20px;
}

.donar img{
    width: 70px;
    height: 70px;
}

.donar{
    display: flex;  
    margin-top: 15px;
    align-items: center;
    justify-content: space-around;
}
.espacio2{
    width: 100%;
    height: 80px;
}

span{
    background-color: rgb(172, 172, 172);
}

.somos h3{
    font-size: 50px;
}