@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #51cdd1;
  --primary-color-light: #e8fcff;
  --toggle-color: rgb(143, 143, 143);
  --text-color: #303030;
  --border-color: #181818;
  --span-color: #b1b1b1;
  --button-color: #d31111;
  --button-color2: #00a1b0;
  --button-color3: #940726;
  --button-color4: #390d2d;
  --button-color5: #fd8808;
  --text-color2: #fff;
  --text-color3: #fff;
  --text-color4: #fff;

  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  min-height: 225vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #797979;
  --primary-color-light: #5c5c5c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --border-color: #dadada;
  --button-color: #d63636;
  --button-color2: #68ecfc;
  --button-color3: #d31c51;
  --button-color4: #a75a92;
  --button-color5: #fea124;
  --span-color: #797979;
  --text-color2: #fff;
  --text-color3: #04515a;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
  border-top-right-radius: 20px;
}
.sidebar.close {
  width: 80px;
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
  margin-left: 16px;
}
.sidebar.close .text {
  opacity: 0;
}

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 60px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 24px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text {
  color: var(--text-color);
}

/*Seccion de Realizar transaccion*/

.titulo {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 65px;
  font-weight: 400;
}

.titulo2 {
  display: flex;
  justify-content: center;
  color: var(--text-color);
  align-items: center;
  margin-top: 60px;
  font-size: 65px;
  font-weight: 400;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contenedor .contenido {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor .contenido .col2,
.contenedor .contenido .col1 {
  flex-direction: column;
  color: var(--text-color);
}

.col1 {
  margin-right: 90px;
  flex-direction: column;
}

.col2 {
  margin-left: 90px;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 22px;
}

input[type="number"],
input[type="text"] {
  text-align: center;
  background: none;
  color: var(--text-color);
  font-size: 20px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 2px solid var(--text-color);
}

.elem8,
.elem6,
.elem5,
.elem3,
.elem1 {
  border-color: var(--text-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 25px;
  height: 120px;
  width: 320px;
  padding-top: 10px;
}

.elem2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--text-color);
  border-style: solid;
  border-width: 3px;
  border-radius: 0;
  height: 120px;
  width: 320px;
  padding-top: 10px;
}

.elem4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: var(--text-color);
  border-style: solid;
  border-top: none;
  border-width: 3px;
  border-radius: 0;
  height: 260px;
  width: 320px;
  padding-top: 10px;
  flex-direction: column;
}

.elem6 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--text-color);
  border-style: solid;
  border-top: none;
  border-width: 3px;
  border-radius: 0;
  height: 115px;
  width: 320px;
  padding-top: 10px;
  flex-direction: column;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#img {
  width: 90px;
  height: 90px;
  margin-right: 10px;
}

#imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 24px;
}

.sub1,
.sub2,
.sub3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#btnEstado {
  align-items: center;
  width: 200px;
  height: 50px;
  border: 2.5px solid;
  background: var(--button-color);
  border-radius: 30px;
  font-size: 20px;
  border-color: var(--border-color);
  color: var(--text-color2);
  cursor: pointer;
  outline: none;
}

#submit1_ {
  align-items: center;
  width: 120px;
  height: 50px;
  border: 2.5px solid;
  background: var(--button-color3);
  font-size: 16px;
  border-color: var(--border-color);
  color: var(--text-color2);
  cursor: pointer;
  outline: none;
  margin-right: 15px;
}

#submit2_ {
  align-items: center;
  width: 120px;
  height: 50px;
  border: 2.5px solid;
  background: var(--button-color2);
  font-size: 16px;
  border-color: var(--border-color);
  color: var(--text-color3);
  cursor: pointer;
  outline: none;
}

h3 {
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 15px;
}

#Editar {
  align-items: center;
  width: 120px;
  height: 50px;
  border: 2.5px solid;
  background: var(--button-color3);
  font-size: 16px;
  border-color: var(--border-color);
  color: var(--text-color2);
  cursor: pointer;
  outline: none;
  margin-right: 15px;
}

.buttonHis {
  display: flex;
  align-items: center;
  justify-content: center;
}

#historial {
  align-items: center;
  width: 200px;
  height: 50px;
  border: 2.5px solid;
  background: var(--button-color4);
  border-radius: 30px;
  font-size: 20px;
  border-color: var(--border-color);
  color: var(--text-color2);
  cursor: pointer;
  outline: none;
}

#CrearTrans {
  align-items: center;
  width: 230px;
  height: 50px;
  border: 2.5px solid;
  background: var(--button-color5);
  border-radius: 30px;
  font-size: 20px;
  border-color: var(--border-color);
  color: var(--text-color2);
  cursor: pointer;
  outline: none;
}
